.App {
  text-align: center;
  background-image: url(./images/main.jpg);
  background-size: cover;
  background-position: center;
  height: 625px;
  width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opnf {
    width: 150px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    background-color: #E5DF61;
    cursor: pointer;
}
.opnf:hover {
  background-color: #979BA0;
} 